/* Color Sceme: Carbon */

$bg_color: #333333;
$header_bg_color: #111111;
$page_bg_color: #fefefe;
$page_border_color: #bbbbbb;
$sidebar_bg_color: #f0f0f0;
$header_nav_bg_color: #555555;
$header_nav_color: #eeeeee;
$title_color: #d0d0d0;
$link_color: #333333;

.color-scheme-carbon {
	background-color: $bg_color;

	a {
		color: $link_color;
		&:visited {
			color: lighten($link-color, 4%);
		}
	}

	blockquote,
	pre,
	th,
	code,
	kbd,
	tt,
	var,
	.wp-caption,
	.entry-attachment,
	.paging-navigation, 
	.post-navigation, 
	#image-navigation, 
	.page-header {
		background-color: $sidebar_bg_color;
	}

	blockquote,
	table,
	th,
	td
	.wp-caption,
	.entry-attachment,
	.wp-caption img,
	.entry-attachment img,
	&.blog .format-aside,
	&.archive .format-aside,
	.hentry,
	.paging-navigation, 
	.post-navigation, 
	#image-navigation, 
	.page-header {
		border-color: lighten($header_bg_color, 20%);
	}

	.site-header {
		//background-color: $header_bg_color;
                /*
                background:
                    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
                    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
                    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
                    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
                    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
                    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
                background-color: #131313;
                background-size: 20px 15px;
                */
                background-color: rgb(32, 32, 32);
                background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
                background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
                background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
		.site-branding {
			.site-title a {
				color: $title_color;
			}
		}
		.site-navigation {
			a, .menu-toggle {
				background-color: tint($header_bg_color, 20%);
				border-color: tint($header_bg_color, 15%);
				&:hover {
					background-color: tint($header_bg_color, 15%);
				}
				color: $header_nav_color;
			}
		}
	}

	#header-image {
		background-color: $sidebar_bg_color;
	}

	.sidebar {
		background-color: $sidebar_bg_color;
	}

	#main {
		background-color: $page_bg_color;
		border: none;
	}

	.comments-area {
		article, .pingback {
			background-color: lighten($sidebar_bg_color, 2%);
			border-color: $sidebar_bg_color;
		}
		.bypostauthor article {
			border-color: darken($sidebar_bg_color, 20%);
		}
	}

	.site-footer {
		//background-color: darken($header_bg_color, 20%);
                background-color: rgb(32, 32, 32);
                background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
                background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
                background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
		a {
			color: $header_nav_color;
		}
	}
}
